@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

#test {
  color: #f4dc00;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: white;
}

.abv-fold {
  background-image: url("/assets/topimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: pointer;
}

.flex-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center .hero {
  margin-top: 5%;
}

.flex-center .hero .crane {
  width: 12%;
}

.flex-center .hero .play {
  width: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.flex-center .hero h1 {
  color: #f4dc00;
  margin: 0;
  font-size: 6.9vw;
  text-align: center;
}

.flex-center .hero p {
  color: #ffffff;
  text-align: center;
  font-size: 1.2vw;
}

nav {
  padding-top: 2vw;
}

nav img {
  width: 20vw;
}

nav .left {
  float: left;
  margin-left: 2%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin-top: -30px;
}

nav ul a {
  text-decoration: none;
  display: block;
  padding-right: 2.5rem;
  color: #ffffff;
  font-size: 1.2vw;
}

.second {
  background-image: url("/assets/section2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.second h6 {
  text-align: center;
  color: #666666;
  margin: 0;
  padding-top: 2.5%;
  padding-bottom: 0%;
  font-size: 1vw;
}

.second h3 {
  text-align: center;
  color: #ffffff;
  font-size: 4vw;
  margin: 2.5%;
}

.second .categories {
  margin-right: 15%;
  margin-left: 15%;
}

.second .categories ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second .categories ul li {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1vw;
  font-weight: 700;
}

.description {
  font-size: 1.2vw;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 15%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description div {
  width: 50%;
}

.description ul {
  margin-left: 5%;
}

.middle {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.v-space {
  margin-top: 2%;
  margin-bottom: 2%;
}

.third {
  margin-top: -10%;
}

.third button {
  margin-top: 0;
  border: none;
  border-radius: 50px;
  background-color: #f4dc00;
  padding-left: 2%;
  padding-right: 2%;
  color: #ffffff;
  font-size: 1vw;
}

.third button p {
  font-weight: 700;
  padding: none;
  margin: none;
}

.fourth h6 {
  text-align: center;
  color: #666666;
  margin: 0;
  padding-top: 2.5%;
  padding-bottom: 0%;
  font-size: 1vw;
}

.fourth h3 {
  text-align: center;
  color: #000;
  font-size: 4vw;
  margin: 2.5%;
}

#paintParent {
  height: 100px;
  position: relative;
}

#paintParent img {
  position: absolute;
  left: 75%;
  top: -5%;
}

.fifth {
  padding-left: 15%;
  padding-right: 20%;
  padding-bottom: 5%;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f0f0f0;
}

.fifth button {
  margin-top: 5%;
  border: none;
  border-radius: 50px;
  background-color: #f4dc00;
  padding-left: 5%;
  padding-right: 5%;
  color: #000;
  font-size: 1rem;
  text-align: left;
}

.fifth div {
  margin-right: 5%;
}

.fifth div p {
  text-align: left;
}

.sixth {
  background-image: url("/assets/trucks.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.sixth h6 {
  text-align: center;
  color: #666666;
  margin: 0;
  padding-top: 2.5%;
  padding-bottom: 0%;
  font-size: 1vw;
}

.sixth h3 {
  text-align: center;
  color: #ffffff;
  font-size: 4vw;
  margin: 2.5%;
}

.sixth p {
  color: #ffffff;
}

.sixth div {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 7%;
}

.sixth div ul {
  margin: 2.5%;
}

.sixth div ul li {
  font-weight: 700;
  padding-top: 10px;
}

.awards {
  padding-bottom: 2.5%;
  background-color: #f4dc00;
}

.awards h6 {
  text-align: center;
  color: #666666;
  margin: 0;
  padding-top: 2.5%;
  padding-bottom: 0%;
  font-size: 1vw;
}

.awards h2 {
  text-align: center;
  color: #000;
  font-size: 7vw;
  margin-top: 2.5%;
  margin-bottom: 0;
}

.awards h5 {
  text-align: center;
  margin: 0;
  font-size: 1.3vw;
}

.awards p {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 2.5%;
}

.awards .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.awards .icons img {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.awards .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.awards .flex div {
  margin-left: 5%;
  margin-right: 5%;
}

.contact {
  position: relative;
  background-color: #000;
}

.contact .forklift {
  left: 28%;
  top: 33%;
  width: 80px;
}

.contact #y1 {
  left: 15%;
  top: 15%;
}

.contact #y2 {
  left: 25%;
  top: 25%;
}

.contact #y3 {
  left: 5%;
  top: 35%;
}

.contact #y4 {
  left: 75%;
  top: 15%;
}

.contact #y5 {
  left: 70%;
  top: 25%;
}

.contact #y6 {
  left: 90%;
  top: 40%;
}

.contact #y7 {
  left: 95%;
  top: 35%;
}

.contact .absolute {
  position: absolute;
}

.contact h6 {
  text-align: center;
  color: #666666;
  margin: 0;
  padding-top: 2.5%;
  padding-bottom: 0%;
}

.contact h3 {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
}

.contact form {
  padding-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact form .form {
  font-weight: 400;
  width: 22vw;
  margin-top: 0;
  border: none;
  border-radius: 50px;
  background-color: #f4dc00;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-size: 1vw;
  margin-top: 0.7%;
  background-color: #262626;
  color: #f0f0f0;
}

.contact form .textarea {
  border-radius: 25px;
}

.contact form #budget {
  width: 26vw;
}

.contact form #budget option {
  color: #f0f0f0;
}

.contact form #firstname {
  background-color: #ffffff;
}

.contact form .submit {
  color: #000;
  background-color: #f4dc00;
  margin-top: 0;
  border: none;
  border-radius: 50px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1vw;
  margin-top: 1%;
  font-weight: 700;
}

footer {
  margin-top: -2%;
  color: white;
  background-color: #262626;
}

footer #logocenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 2%;
}

footer #maps {
  display: block;
  color: #f4dc00;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2%;
  margin-top: 2%;
}

footer .items {
  margin-left: 0.5%;
  margin-right: 0.5%;
}

footer form {
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer form #email {
  padding: 0.5%;
}

footer form .submit {
  color: #ffffff;
  padding: 0.7%;
  margin: 0;
  background-color: #009cf3;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

footer form .submit :focus {
  outline: none;
}

footer .border-top {
  border-top: 1px solid #666666;
  padding-top: 2%;
}

/* Slideshow container */
.blog-slider__container {
  max-width: 50%;
  position: relative;
  margin: auto;
  height: auto;
}

.blog-slider__container .blogSlides img {
  width: 100%;
  height: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.prev {
  left: -10%;
  border-radius: 3px 0 0 3px;
}

.next {
  right: -10%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #f4dc00;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.75s;
  animation-name: fade;
  animation-duration: 0.75s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  nav img {
    width: 50vw;
  }
  .main-nav {
    list-style-type: none;
    display: none;
  }
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  .main-nav li a {
    font-size: 2rem;
    padding-right: 0;
  }
  .logo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
  }
  .navbar-toggle {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    margin-right: 2%;
  }
  .show {
    display: block;
  }
  .prev {
    left: -20%;
    border-radius: 3px 0 0 3px;
  }
  .next {
    right: -20%;
    border-radius: 3px 0 0 3px;
  }
  .flex-center {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex-center .hero {
    margin-top: 5%;
  }
  .flex-center .hero .crane {
    width: 30%;
    padding-bottom: 5%;
  }
  .flex-center .hero .play {
    width: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .flex-center .hero h1 {
    color: #f4dc00;
    margin: 0;
    font-size: 6.9vw;
    text-align: center;
  }
  .flex-center .hero p {
    color: #ffffff;
    text-align: center;
    font-size: 3vw;
    margin-left: 15%;
    margin-right: 15%;
  }
  .second h6 {
    text-align: center;
    color: #666666;
    margin: 0;
    padding-top: 2.5%;
    padding-bottom: 0%;
    font-size: 2vw;
  }
  .second h3 {
    text-align: center;
    color: #ffffff;
    font-size: 4vw;
    margin: 2.5%;
  }
  .second .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.5vw;
  }
  .second .description div {
    width: 100%;
  }
  .second .categories {
    margin-right: 15%;
    margin-left: 15%;
  }
  .second .categories ul {
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .second .categories ul li {
    color: white;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    font-size: 1.5vw;
    font-weight: 700;
  }
  .third {
    margin-top: -10%;
  }
  .third button {
    margin-top: 0;
    border: none;
    border-radius: 50px;
    background-color: #f4dc00;
    padding-left: 2%;
    padding-right: 2%;
    color: #ffffff;
    font-size: 2vw;
  }
  .third button p {
    font-weight: 700;
    padding: none;
    margin: none;
  }
  .fourth h6 {
    text-align: center;
    color: #666666;
    margin: 0;
    padding-top: 2.5%;
    padding-bottom: 0%;
    font-size: 2vw;
  }
  .fourth h3 {
    text-align: center;
    color: #000;
    font-size: 4vw;
    margin: 2.5%;
  }
  .fourth p {
    font-size: 2.5vw;
  }
  .fifth {
    padding-left: 15%;
    padding-right: 20%;
    padding-bottom: 5%;
    padding-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f0f0f0;
  }
  .fifth button {
    margin-top: 5%;
    border: none;
    border-radius: 50px;
    background-color: #f4dc00;
    padding-left: 5%;
    padding-right: 5%;
    color: #000;
    font-size: 2vw;
    text-align: left;
  }
  .fifth div {
    margin-right: 5%;
  }
  .fifth div p {
    text-align: left;
    font-size: 2.5vw;
  }
  .sixth {
    background-image: url("/assets/trucks.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sixth h6 {
    text-align: center;
    color: #666666;
    margin: 0;
    padding-top: 2.5%;
    padding-bottom: 0%;
    font-size: 2.5vw;
  }
  .sixth h3 {
    text-align: center;
    color: #ffffff;
    font-size: 4vw;
    margin: 2.5%;
  }
  .sixth p {
    color: #ffffff;
    font-size: 2.5vw;
  }
  .sixth div {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .sixth div ul {
    margin: 2.5%;
  }
  .sixth div ul li {
    font-weight: 700;
    padding-top: 10px;
  }
  .awards {
    padding-bottom: 2.5%;
    background-color: #f4dc00;
  }
  .awards h6 {
    text-align: center;
    color: #666666;
    margin: 0;
    padding-top: 2.5%;
    padding-bottom: 0%;
    font-size: 2.5vw;
  }
  .awards h2 {
    text-align: center;
    color: #000;
    font-size: 10vw;
    margin-top: 2.5%;
    margin-bottom: 0;
  }
  .awards h5 {
    text-align: center;
    margin: 0;
    font-size: 5vw;
  }
  .awards p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
    font-size: 2.5vw;
  }
  .awards .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .awards .icons img {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .awards .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .awards .flex div {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .contact {
    position: relative;
    background-color: #000;
  }
  .contact .forklift {
    left: 28%;
    top: 33%;
    width: 80px;
    display: none;
  }
  .contact #y1 {
    left: 15%;
    top: 15%;
    display: none;
  }
  .contact #y2 {
    left: 25%;
    top: 25%;
    display: none;
  }
  .contact #y3 {
    left: 5%;
    top: 35%;
    display: none;
  }
  .contact #y4 {
    left: 75%;
    top: 15%;
    display: none;
  }
  .contact #y5 {
    left: 70%;
    top: 25%;
    display: none;
  }
  .contact #y6 {
    left: 90%;
    top: 40%;
    display: none;
  }
  .contact #y7 {
    left: 95%;
    top: 35%;
    display: none;
  }
  .contact .absolute {
    position: absolute;
  }
  .contact h6 {
    text-align: center;
    color: #666666;
    margin: 0;
    padding-top: 2.5%;
    padding-bottom: 0%;
    font-size: 2.5vw;
  }
  .contact h3 {
    text-align: center;
    color: #ffffff;
    font-size: 8vw;
  }
  .contact form {
    padding-bottom: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact form .form {
    font-weight: 400;
    width: 60vw;
    margin-top: 0;
    border: none;
    border-radius: 50px;
    background-color: #f4dc00;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 4vw;
    margin-top: 3%;
    background-color: #262626;
    color: #f0f0f0;
  }
  .contact form .textarea {
    border-radius: 25px;
  }
  .contact form #budget {
    width: 64vw;
  }
  .contact form #budget option {
    color: #f0f0f0;
  }
  .contact form #firstname {
    background-color: #ffffff;
  }
  .contact form .submit {
    color: #000;
    background-color: #f4dc00;
    border: none;
    border-radius: 50px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 4vw;
    margin-top: 5%;
    font-weight: 700;
  }
}

@media only screen and (max-width: 450px) {
  #info {
    font-size: 3vw;
  }
  .main-nav {
    margin-top: 20px;
  }
  .main-nav li a {
    font-size: 3vw;
    padding-right: 0;
  }
  .navbar-toggle {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    margin-right: 2%;
  }
  .flex-center {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex-center .hero {
    margin-top: 5%;
  }
  .flex-center .hero .crane {
    width: 30%;
    padding-bottom: 5%;
  }
  .flex-center .hero .play {
    width: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .flex-center .hero h1 {
    color: #f4dc00;
    margin: 0;
    font-size: 6.9vw;
    text-align: center;
  }
  .flex-center .hero p {
    color: #ffffff;
    text-align: center;
    font-size: 5vw;
    margin-left: 15%;
    margin-right: 15%;
  }
  .second h6 {
    text-align: center;
    color: #666666;
    margin: 0;
    padding-top: 2.5%;
    padding-bottom: 0%;
    font-size: 4vw;
  }
  .second h3 {
    text-align: center;
    color: #ffffff;
    font-size: 5vw;
    margin: 2.5%;
  }
  .second .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 4vw;
  }
  .second .description div {
    width: 100%;
  }
  .second .categories {
    display: none;
    margin-right: 15%;
    margin-left: 15%;
  }
  .second .categories ul {
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .second .categories ul li {
    color: white;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    font-size: 1.5vw;
    font-weight: 700;
  }
  .third {
    margin-top: -10%;
  }
  .third button {
    margin-top: 0;
    border: none;
    border-radius: 50px;
    background-color: #f4dc00;
    padding-left: 2%;
    padding-right: 2%;
    color: #ffffff;
    font-size: 3vw;
  }
  .third button p {
    font-weight: 700;
    padding: none;
    margin: none;
  }
  .fourth h6 {
    text-align: center;
    color: #666666;
    margin: 0;
    padding-top: 2.5%;
    padding-bottom: 0%;
    font-size: 4vw;
  }
  .fourth h3 {
    text-align: center;
    color: #000;
    font-size: 5vw;
    margin: 2.5%;
  }
  .fourth p {
    font-size: 4vw;
  }
  .fifth {
    padding-left: 15%;
    padding-right: 20%;
    padding-bottom: 5%;
    padding-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f0f0f0;
  }
  .fifth button {
    margin-top: 5%;
    border: none;
    border-radius: 50px;
    background-color: #f4dc00;
    padding-left: 5%;
    padding-right: 5%;
    color: #000;
    font-size: 5vw;
    text-align: left;
  }
  .fifth div {
    margin-right: 5%;
  }
  .fifth div p {
    text-align: left;
    font-size: 4vw;
  }
  .sixth {
    background-image: url("/assets/trucks.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sixth h6 {
    text-align: center;
    color: #666666;
    margin: 0;
    padding-top: 2.5%;
    padding-bottom: 0%;
    font-size: 6vw;
  }
  .sixth h3 {
    text-align: center;
    color: #ffffff;
    font-size: 5vw;
    margin: 2.5%;
  }
  .sixth p {
    color: #ffffff;
    font-size: 4vw;
  }
  .sixth div {
    font-size: 4vw;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .sixth div ul {
    margin: 2.5%;
  }
  .sixth div ul li {
    font-weight: 700;
    padding-top: 10px;
  }
  .awards {
    padding-bottom: 2.5%;
    background-color: #f4dc00;
  }
  .awards h6 {
    text-align: center;
    color: #666666;
    margin: 0;
    padding-top: 2.5%;
    padding-bottom: 0%;
    font-size: 6vw;
  }
  .awards h2 {
    text-align: center;
    color: #000;
    font-size: 10vw;
    margin-top: 2.5%;
    margin-bottom: 0;
  }
  .awards h5 {
    text-align: center;
    margin: 0;
    font-size: 5vw;
  }
  .awards p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
    font-size: 4vw;
  }
  .awards .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .awards .icons img {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .awards .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .awards .flex div {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .contact {
    position: relative;
    background-color: #000;
  }
  .contact .forklift {
    left: 28%;
    top: 33%;
    width: 80px;
    display: none;
  }
  .contact #y1 {
    left: 15%;
    top: 15%;
    display: none;
  }
  .contact #y2 {
    left: 25%;
    top: 25%;
    display: none;
  }
  .contact #y3 {
    left: 5%;
    top: 35%;
    display: none;
  }
  .contact #y4 {
    left: 75%;
    top: 15%;
    display: none;
  }
  .contact #y5 {
    left: 70%;
    top: 25%;
    display: none;
  }
  .contact #y6 {
    left: 90%;
    top: 40%;
    display: none;
  }
  .contact #y7 {
    left: 95%;
    top: 35%;
    display: none;
  }
  .contact .absolute {
    position: absolute;
  }
  .contact h6 {
    text-align: center;
    color: #666666;
    margin: 0;
    padding-top: 2.5%;
    padding-bottom: 0%;
    font-size: 6vw;
  }
  .contact h3 {
    text-align: center;
    color: #ffffff;
    font-size: 8vw;
  }
  .contact form {
    padding-bottom: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact form .form {
    font-weight: 400;
    width: 60vw;
    margin-top: 0;
    border: none;
    border-radius: 50px;
    background-color: #f4dc00;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 4vw;
    margin-top: 3%;
    background-color: #262626;
    color: #f0f0f0;
  }
  .contact form .textarea {
    border-radius: 25px;
  }
  .contact form #budget {
    width: 64vw;
  }
  .contact form #budget option {
    color: #f0f0f0;
  }
  .contact form #firstname {
    background-color: #ffffff;
  }
  .contact form .submit {
    color: #000;
    background-color: #f4dc00;
    border: none;
    border-radius: 50px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 4vw;
    margin-top: 5%;
    font-weight: 700;
  }
}
/*# sourceMappingURL=main.css.map */